@import url("reset.css");

.container {
  margin: 50px auto;
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
  margin-bottom: 30px;
}

.text-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    padding-right: 40px;
    font-size: 20px;
  }
  .add {
    cursor: pointer;
    background-color: rgb(156, 97, 214);
    height: 40px;
    width: 40px;
    border-radius: 0 5px 5px 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms all;
    &:hover {
      background-color: rgb(102, 51, 153);
      color: #fff;
    }
  }
}

.texts {
  background-color: rgb(156, 97, 214);
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  .note {
    padding: 8px 12px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 0px;
    }
    .todo_left {
      display: flex;
      align-items: center;
      justify-content: center;
      .todo_cb {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        &:checked ~ .todo_text {
          text-decoration: line-through;
          color: rgb(128, 128, 128);
        }
      }
      .edit_input {
        outline: none;
        border-radius: 3px;
        border: 1px solid rgb(156, 97, 214);
        width: 100%;
        height: 20px;
        font-size: 18px;
      }
    }
  }
}

.far {
  padding: 5px;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
  transition: 300ms all;
  &:hover {
    background-color: rgb(156, 97, 214);
    color: #fff;
  }
}
